[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=bashkaraoke
GenericName=Modular open-source karaoke player (TiMIDIty++ front-end)
Icon=bashkaraoke.png
Exec=/usr/bin/bashkaraoke
Terminal=false
Comment=Bash the microphone and break your music!
Categories=Audio
