Source: bashkaraoke
Section: sound
Priority: extra
Maintainer: Lucio Messina <lucio.messina@mensa.it>
Build-Depends: debhelper (>= 8.0.0), easybashgui
Standards-Version: 3.9.3
Homepage: https://sites.google.com/site/bashkaraoke/

Package: bashkaraoke
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, easybashgui, timidity, python, python-support
Description: Bash powered karaoke frontend player
 Basically Bash!Karaoke is a frontend to various karaoke backend players 
 (since 6.0.0 version). 
 Midi files are played by Timidity, and lyric text to sing is colored following
 its text events tracing. However, since timidity is launched as true process
 (there is no low-level module) it is possible to use its full potential: you
 can use soundfonts, adjust volume, pitch and tempo, mute any channel you want.
 The only task left to bashkaraoke itself is lyric extraction (if you choose
 "internal" way, alternately you can use perl script "midi_text24.pl" or "pykar"
 from "pykaraoke" suite, for this task ).Quite luckily, bashkaraoke manages
 lyric extraction task with no problem, making all "lyric extraction -> 
 ( midi playing & text tracing )" entire task performed at best.
 Other karaoke files are waiting a player... ;-)
 Since version 5.0.0 we are working to add fullscreen feature to program,
 but it's still in development.

